<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>JavaScript</title>
  </head>
  <body>
    <header><h1>JavaScript Cours</h1></header>
    <nav>
      <form action="get">
        <select [(ngModel)]="model">
          <option *ngFor="let item of list" [value]="item">Variables</option>
          <option *ngFor="let item of list" [value]="item">Demo 1</option>
          <option *ngFor="let item of list" [value]="item">Demo 2</option>
          <option *ngFor="let item of list" [value]="item">Exercice 1</option>
          <option *ngFor="let item of list" [value]="item">Exercice 2</option>
          <option *ngFor="let item of list" [value]="item">Exercice 3</option>
          <option *ngFor="let item of list" [value]="item">
            Note + fichier
          </option>
        </select>
        <select [(ngModel)]="model">
          <option *ngFor="let item of list" [value]="item">Opérateurs</option>
          <option *ngFor="let item of list" [value]="item">Demo 1</option>
          <option *ngFor="let item of list" [value]="item">Exercice 1</option>
          <option *ngFor="let item of list" [value]="item">Exercice 2</option>
          <option *ngFor="let item of list" [value]="item">Exercice 3</option>
          <option *ngFor="let item of list" [value]="item">
            Note + fichier
          </option>
        </select>
        <select [(ngModel)]="model">
          <option *ngFor="let item of list" [value]="item">Fonctions</option>
          <option *ngFor="let item of list" [value]="item">Demo 1</option>
          <option *ngFor="let item of list" [value]="item">Exercice 1</option>
          <option *ngFor="let item of list" [value]="item">Exercice 2</option>
          <option *ngFor="let item of list" [value]="item">Exercice 3</option>
          <option *ngFor="let item of list" [value]="item">
            Exercice binôme
          </option>
          <option *ngFor="let item of list" [value]="item">
            Note + fichier
          </option>
        </select>
        <select [(ngModel)]="model">
          <option *ngFor="let item of list" [value]="item">Boucles</option>
          <option *ngFor="let item of list" [value]="item">Demo 1</option>
          <option *ngFor="let item of list" [value]="item">Exercice 1</option>
          <option *ngFor="let item of list" [value]="item">Exercice 2</option>
          <option *ngFor="let item of list" [value]="item">Exercice 3</option>
          <option *ngFor="let item of list" [value]="item">
            Exercice binôme
          </option>
          <option *ngFor="let item of list" [value]="item">
            Note + fichier
          </option>
        </select>
        <select [(ngModel)]="model">
          <option *ngFor="let item of list" [value]="item">Tableaux</option>
          <option *ngFor="let item of list" [value]="item">Demo 1</option>
          <option *ngFor="let item of list" [value]="item">Exercice 1</option>
          <option *ngFor="let item of list" [value]="item">Exercice 2</option>
          <option *ngFor="let item of list" [value]="item">Exercice 3</option>
          <option *ngFor="let item of list" [value]="item">
            Exercice binôme
          </option>
          <option *ngFor="let item of list" [value]="item">
            Note + fichier
          </option>
        </select>
        <select [(ngModel)]="model">
          <option *ngFor="let item of list" [value]="item">objets</option>
          <option *ngFor="let item of list" [value]="item">Demo 1</option>
          <option *ngFor="let item of list" [value]="item">Exercice 1</option>
          <option *ngFor="let item of list" [value]="item">Exercice 2</option>
          <option *ngFor="let item of list" [value]="item">Exercice 3</option>
          <option *ngFor="let item of list" [value]="item">
            Exercice binôme
          </option>
          <option *ngFor="let item of list" [value]="item">
            Note + fichier
          </option>
        </select>
        <select [(ngModel)]="model">
          <option *ngFor="let item of list" [value]="item">Dom</option>
          <option *ngFor="let item of list" [value]="item">Demo 1</option>
          <option *ngFor="let item of list" [value]="item">Exercice 1</option>
          <option *ngFor="let item of list" [value]="item">Exercice 2</option>
          <option *ngFor="let item of list" [value]="item">Exercice 3</option>
         
          <option *ngFor="let item of list" [value]="item">
            Note + fichier
          </option>
        </select>
        <select [(ngModel)]="model">
          <option *ngFor="let item of list" [value]="item">Evenements</option>
          <option *ngFor="let item of list" [value]="item">Demo 1</option>
          <option *ngFor="let item of list" [value]="item">Exercice 1</option>
          <option *ngFor="let item of list" [value]="item">Exercice 2</option>
          <option *ngFor="let item of list" [value]="item">Exercice 3</option>
          <option *ngFor="let item of list" [value]="item">
            Exercice binôme
          </option>
          <option *ngFor="let item of list" [value]="item">
            Note + fichier
          </option>
        </select>
        <select [(ngModel)]="model">
          <option *ngFor="let item of list" [value]="item">Asynchrone</option>
          <option *ngFor="let item of list" [value]="item">Demo 1</option>
          <option *ngFor="let item of list" [value]="item">Exercice 1</option>
          <option *ngFor="let item of list" [value]="item">Exercice 2</option>
          <option *ngFor="let item of list" [value]="item">Exercice 3</option>
          <option *ngFor="let item of list" [value]="item">
            Note + fichier
          </option>
        </select>
        <select [(ngModel)]="model">
          <option *ngFor="let item of list" [value]="item">Fetch</option>
          <option *ngFor="let item of list" [value]="item">Demo 1</option>
          <option *ngFor="let item of list" [value]="item">Exercice 1</option>
          <option *ngFor="let item of list" [value]="item">Exercice 2</option>
          <option *ngFor="let item of list" [value]="item">Exercice 3</option>
          <option *ngFor="let item of list" [value]="item">
            Note + fichier
          </option>
        </select>
        <select [(ngModel)]="model">
          <option *ngFor="let item of list" [value]="item">Storage</option>
          <option *ngFor="let item of list" [value]="item">Demo 1</option>
          <option *ngFor="let item of list" [value]="item">Exercice 1</option>
          <option *ngFor="let item of list" [value]="item">Exercice 2</option>
          <option *ngFor="let item of list" [value]="item">Exercice 3</option>
          <option *ngFor="let item of list" [value]="item">
            Note + fichier
          </option>
        </select>
        <select [(ngModel)]="model">
          <option *ngFor="let item of list" [value]="item">PHP</option>
          <option *ngFor="let item of list" [value]="item">Demo 1</option>
          <option *ngFor="let item of list" [value]="item">Exercice 1</option>
          <option *ngFor="let item of list" [value]="item">Exercice 2</option>
          <option *ngFor="let item of list" [value]="item">Exercice 3</option>
          <option *ngFor="let item of list" [value]="item">
            Note + fichier
          </option>
        </select>
      </form>
    </nav>
  </body>
</html>
